* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    gap: 150px;
    margin-top: 65px;
    flex-wrap: nowrap;
}

.title {
    margin: 0 auto;
    text-align: center;
}

.title h2 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    margin-bottom: 25px;
}

.title__btns button {
    cursor: pointer;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 17px 70px;
    margin-left: 30px;
    transition: .5s ease;
}

.title__btns button:hover {
    background-color: black;
    color: white;
}

.bag__card {
    border: 1px solid black;
    max-width: 365px;
}

.bag__card__img  {
    display: flex;
    justify-content: center;
    background-color: white;
    max-width: 365px;
    padding: 19px 0;
}

.bag__card__desc {
    background-color: black;
    color: white;
    padding: 30px;
}

.bag__card__desc h3 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.bag__card__desc p {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.56);
}

.bag__card__price {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 16px;
}

.bag__card__desc__btn1 {
    cursor: pointer;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 17px 67px;
    transition: .5s ease;
}

.bag__card__desc__btn1:hover {
    background-color: gray;
    color: white;
}

.bag__card__desc__btn {
    margin-top: 30px;
}

