* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1130px;
    margin: 0 auto;
    display: flex;
    gap: 15px;
    margin-top: 65px;
    flex-wrap: wrap;
}

.title {
    margin: 0 auto;
    text-align: center;
}

.title h2 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    margin-bottom: 25px;
}

.title__btns button {
    cursor: pointer;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 17px 70px;
    margin-left: 30px;
    transition: .5s ease;
}

.title__btns button:hover {
    background-color: black;
    color: white;
    height: 100%;

}

.bag__card {
    border: 1px solid black;
    max-width: 365px;
}

.bag__card__img  {
    display: flex;
    justify-content: center;
    background-color: white;
    max-width: 365px;
    padding: 19px 0;
}

.bag__card__img img {
    object-fit: contain;
}

.bag__card__desc {
    background-color: black;
    color: white;
    padding: 30px;
}

.bag__card__desc h3 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.bag__card__desc p {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.56);
}

.bag__card__price {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 16px;
}

.bag__card__desc__btn1 {
    cursor: pointer;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 17px 67px;
    transition: .5s ease;
}

.bag__card__desc__btn1:hover {
    background-color: gray;
    color: white;
}

.bag__card__desc__btn {
    margin-top: 50px;
}

.korzina {
    display: flex;
    justify-content: center;
    margin-top: 300px;
    margin-bottom: 300px;
}

.counter__wrapper {
    display: flex;
    align-items: center;
    background-color: #c4c4c4;
    border-radius: 10px;
    padding: 50px;
}

.counter__wrapper__title h2 {
    margin-bottom: 20px;
    font-size: 24px;
}


.counter__wrapper__count {
    margin-left: 300px;
    background-color: grey;
    border-radius: 15px;
    padding: 30px;
    gap: 20px;
}

.counter__wrapper__img {
    margin-right: 30px;
}

.counter__wrapper__img img {
    background: none !important;
}

.counter__wrapper__count__btns span {
    color: white;
}

.btn {
    padding: 10px;
    background-color: #c4c4c4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 18px;
}

.btn:active {
    transform: scale(0.9);
}

.counter__wrapper__count__price {
    margin-top: 10px;
    color: white;
}